In [1]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns; sns.set() 
import pandas as pd

import sklearn
print(sklearn.__version__)

0.23.2

In [2]:
df = pd.read_csv("challenge-new-data.csv")

# challenge-new-data.csv contains refined data set after removal of irrelevant parameters

In [3]:
# combining GRR, GRS, and GRD into GR

df['GR'] = df['GRR']
df['GR'] = df['GR'].combine_first(df['GRS'])
df['GR'] = df['GR'].combine_first(df['GRD'])
df

,DTSM,DTCO,GRR,GRS,GRD,NPHI,NPHI_LS,TNPH,TNPH_LS,DPHZ,DPHZ_LS,DPHI,DPHI_LS,RHOZ,PEFZ,SPR,GR
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3782739,NaN,NaN,65.3387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0042,NaN,NaN,NaN,65.3387
3782740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0108,NaN,NaN,NaN,NaN
3782741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0065,NaN,NaN,NaN,NaN
3782742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0037,NaN,NaN,NaN,NaN
3782743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0041,NaN,NaN,NaN,NaN

In [4]:
# combining NPHI, NPHI_LS, TNPH, and TNPH_LS into PHIN

df['PHIN'] = df['NPHI']
df['PHIN'] = df['PHIN'].combine_first(df['NPHI_LS'])
df['PHIN'] = df['PHIN'].combine_first(df['TNPH'])
df['PHIN'] = df['PHIN'].combine_first(df['TNPH_LS'])
df

,DTSM,DTCO,GRR,GRS,GRD,NPHI,NPHI_LS,TNPH,TNPH_LS,DPHZ,DPHZ_LS,DPHI,DPHI_LS,RHOZ,PEFZ,SPR,GR,PHIN
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0098
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0084
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3782739,NaN,NaN,65.3387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0042,NaN,NaN,NaN,65.3387,NaN
3782740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0108,NaN,NaN,NaN,NaN,NaN
3782741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0065,NaN,NaN,NaN,NaN,NaN
3782742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0037,NaN,NaN,NaN,NaN,NaN
3782743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0041,NaN,NaN,NaN,NaN,NaN

In [5]:
# combining DPHZ, DPHZ_LS, DPHI, and DPHI_LS into PHID

df['PHID'] = df['DPHZ']
df['PHID'] = df['PHID'].combine_first(df['DPHZ_LS'])
df['PHID'] = df['PHID'].combine_first(df['DPHI'])
df['PHID'] = df['PHID'].combine_first(df['DPHI_LS'])
df

,DTSM,DTCO,GRR,GRS,GRD,NPHI,NPHI_LS,TNPH,TNPH_LS,DPHZ,DPHZ_LS,DPHI,DPHI_LS,RHOZ,PEFZ,SPR,GR,PHIN,PHID
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0098,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0098,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0084,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3782739,NaN,NaN,65.3387,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0042,NaN,NaN,NaN,65.3387,NaN,0.0042
3782740,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0108,NaN,NaN,NaN,NaN,NaN,0.0108
3782741,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0065,NaN,NaN,NaN,NaN,NaN,0.0065
3782742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0037,NaN,NaN,NaN,NaN,NaN,0.0037
3782743,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0041,NaN,NaN,NaN,NaN,NaN,0.0041

In [6]:
# creating new dataframe with the combined logs 

cleanlogdata = df[['DTSM', 'DTCO', 'GR', 'PHIN', 'PHID', 'RHOZ', 'PEFZ', 'SPR']]
print(cleanlogdata)

         DTSM  DTCO       GR    PHIN    PHID  RHOZ  PEFZ  SPR
0         NaN   NaN      NaN -0.0098     NaN   NaN   NaN  NaN
1         NaN   NaN      NaN     NaN     NaN   NaN   NaN  NaN
2         NaN   NaN      NaN     NaN     NaN   NaN   NaN  NaN
3         NaN   NaN      NaN -0.0084     NaN   NaN   NaN  NaN
4         NaN   NaN      NaN     NaN     NaN   NaN   NaN  NaN
...       ...   ...      ...     ...     ...   ...   ...  ...
3782739   NaN   NaN  65.3387     NaN  0.0042   NaN   NaN  NaN
3782740   NaN   NaN      NaN     NaN  0.0108   NaN   NaN  NaN
3782741   NaN   NaN      NaN     NaN  0.0065   NaN   NaN  NaN
3782742   NaN   NaN      NaN     NaN  0.0037   NaN   NaN  NaN
3782743   NaN   NaN      NaN     NaN  0.0041   NaN   NaN  NaN

[3782744 rows x 8 columns]

In [ ]:
cleanlogdata.csv("../content/gdrive/MyDrive/ML/challenge-new-data.csv", index=False)